*{
    display: inline;
    background-image: url(/img/main-background.jpg);
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    
}


.main-display{
    z-index: 10;
    display: inline;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 18rem; 
    height: 43rem;
}

.a-button {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #8f9294;
    color: #fff;  
    font-size: 11px;
}
.b-button {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #8f9294;
    color: #fff;  
    font-size: 11px;
}